[user]
	name = hrkd
	email = hiroki@hrkd.net

[alias]
  s = status
  ch = checkout
  b = branch
  c = commit
  a = add
  l = log --oneline --decorate --graph --branches --tags --remotes
[core]
	editor = vim -c \"set fenc=utf-8\"
